<template>
  <div class="edit-page">
    <splitpanes class="workspace default-theme" :horizontal="isMobile">
      <pane class="preview-pane px-2 pt-1 lg:(px-1 pt-0)" min-size="20" style="margin: auto;">
        <Preview />
      </pane>
    </splitpanes>
  </div>
</template>

<script lang="ts" setup>
import { Splitpanes, Pane } from "splitpanes";
import "splitpanes/dist/splitpanes.css";
import { switchAlomerry } from "~/utils";

// Handle languages
const props = defineProps<{ lang: string[] | string }>();
watchLocale(props);
onMounted(async () => {
  await switchAlomerry();
});

const isMobile = useMobile();
</script>
